/log/*.log
.DS_Store
.idea/
/tmp
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
omartech4j/mzitu/full/
omartech4j/mzitu/single/

