.cases
  .case
    .img
      =link_to image_tag('noprinter.png'), 'http://noprinter.cn'
    .title
      NoPrinter.cn
    .desc
      在您身边的打印专家,采用了Ruby on Rails 技术实现，部署在盛大云服务器上，已经稳定运行1年。访问人次累计超过10w。
