@img-path: '../images'; //fe开发目录
//@img-path: '/images'; //线上使用目录
@version:'?v=01071352';
//colors
@def: #343434;
@placeholder: #999999;
@green: #7cb228;
@grey: #999999;
@blue: #007ead;
@bgc: #e5e5e5;
@grey_s: #ebebeb;
@grey_border:#d1d1d1;
@white:#fff;
@red:#eb7676;
@orange:#f38100;
@err_color:#ff0000;

//领域模块
@green-v2: #67bf58;
@grey_66: #666666;
@grey_33: #333333;

//css3 
.transform(...){
	-webkit-transform: @arguments;
	-moz-transform: @arguments;
	-ms-transform: @arguments;
	-o-transform: @arguments;
	transform: @arguments;
}

.animation(...){
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	-ms-animation: @arguments;
	-o-animation: @arguments;
	animation: @arguments;
}

.transition(...){
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-ms-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

.box-shadow(...){
	-webkit-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-ms-box-shadow: @arguments;
	box-shadow: @arguments;
}
.text-shadow(@color-stop...){
	@color-stops: ~`"@{color-stop}".replace(/[\[\]]/g, "")`;
	-webkit-text-shadow: @color-stops;
	-ms-text-shadow: @color-stops;
	text-shadow: @color-stops;
}
.flex(...){
	-webkit-flex: @arguments;
	flex: @arguments;
}

.background-size(...){
	-webkit-background-size: @arguments;
	-moz-background-size: @arguments;
	-o-background-size: @arguments;
	background-size: @arguments;
}
.box-sizing(){
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.ellipsis(...){
  text-overflow: @arguments;
  -o-text-overflow: @arguments;
  -ms-text-overflow: @arguments;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  word-wrap: normal;
}
.linear-gradient(@direction, @color-stop...) {
	@dir: ~`"@{direction}".replace(/[\[\],]/g, "")`;
	@is-old-side-or-corner: ~`/^(?:top|right|bottom|left)(?:\s+(?:top|right|bottom|left))?$/.test("@{dir}") ? "true" : "false"`;
	@is-standard-side-or-corner: ~`/^to\s+(?:top|right|bottom|left)(?:\s+(?:top|right|bottom|left))?$/.test("@{dir}") ? "true" : "false"`;
	@color-stops: ~`"@{color-stop}".replace(/[\[\]]/g, "")`;
	.output() when (@is-old-side-or-corner) {
		@standard-direction: ~`"to @{dir}".replace("top", "b#ottom").replace("right", "l#eft").replace("bottom", "t#op").replace("left", "r#ight").replace(/#/g, "")`;
		background-image: -webkit-linear-gradient(@dir, @color-stops); // Chrome 10+
		background-image: -moz-linear-gradient(@dir, @color-stops); // Firefox 3.6+
		background-image: -moz-linear-gradient(@standard-direction, @color-stops); // Firefox 10+
		background-image: -o-linear-gradient(@standard-direction, @color-stops); // Opera 11.10+
		background-image: linear-gradient(@standard-direction, @color-stops); // Chrome 26+, Firefox 16+, Opera 12.10+, IE 10+
	}
	.output() when (@is-standard-side-or-corner) {
		@old-direction: ~`"@{dir}".replace(/^to\s+/, "").replace("top", "b#ottom").replace("right", "l#eft").replace("bottom", "t#op").replace("left", "r#ight").replace(/#/g, "")`;
		background-image: -webkit-linear-gradient(@old-direction, @color-stops); // Chrome 10+
		background-image: -moz-linear-gradient(@old-direction, @color-stops); // Firefox 3.6+
		background-image: -moz-linear-gradient(@dir, @color-stops); // Firefox 10+
		background-image: -o-linear-gradient(@dir, @color-stops); // Opera 11.10+
		background-image: linear-gradient(@dir, @color-stops); // Chrome 26+, Firefox 16+, Opera 12.10+, IE 10+
	}
	.output() when not (@is-old-side-or-corner) and not (@is-standard-side-or-corner) {
		background-image: -webkit-linear-gradient(mod(abs(convert(@direction, deg) - 450), 360), @color-stops); // Chrome 10+
		background-image: -moz-linear-gradient(mod(abs(convert(@direction, deg) - 450), 360), @color-stops); // Firefox 3.6+
		background-image: -o-linear-gradient(mod(abs(convert(@direction, deg) - 450), 360), @color-stops); // Opera 11.10+
		background-image: linear-gradient(@direction, @color-stops); // Chrome 26+, Firefox 16+, Opera 12.10+, IE 10+
	}
	.output();
	background-repeat: repeat;
}