html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
pre,
form,
p,
blockquote,
input,
textarea,
abbr,
article,
aside,
figcaption,
figure,
footer,
header,
mark,
meter,
menu,
nav,
output,
progress,
section,
summary,
time {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ul,
ol {
  list-style: none;
}
iframe,
a,
img,
button {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
hgroup,
nav,
section,
figure,
figcaption {
  display: block;
}
a,
a:hover {
  text-decoration: none;
}
.clear {
  clear: both;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  overflow: hidden;
}
.hidden {
  display: none;
}
.t-left {
  text-align: left;
}
.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}
em,
i,
s {
  font-style: normal;
}
body {
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}
input[type=submit],
input[type=button],
input[type=text],
textarea,
button,
select {
  font-size: 1em;
  outline: none;
  -webkit-appearance: none;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.p20 {
  padding: 20px;
}
.p10 {
  padding: 10px;
}
.green {
  color: #7cb228;
}
.grey {
  color: #999999;
}
.blue {
  color: #26abbe;
}
.red {
  color: #ff0000;
}
.orange {
  color: #fd9f25;
}
.f12 {
  font-size: 12px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f22 {
  font-size: 22px;
}
input:-webkit-input-placeholder {
  color: #999999;
}
input:-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder {
  color: #999999;
}
.cube {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.display-flex {
  display: -webkit-flex;
  display: flex;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font: normal 14px/1.5 Helvetica, "Microsoft YaHei", STHeiti, "Droid Sans Fallback", sans-serif;
  color: #343434;
  overflow-x: hidden;
  height: 100%;
}
a {
  color: #343434;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a.blue {
  color: #26abbe;
}
h1,
h2,
h3 {
  font-size: 14px;
  line-height: 1;
}
.wrapper {
  width: 100%;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0) scale(0.2);
    transform: translate3d(0, 50%, 0) scale(0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.bounceInDown {
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
}
@-webkit-keyframes fly {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(80, 0, 0);
    transform: translate3d(80px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fly {
  -webkit-animation-name: fly;
  animation-name: fly;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes flySlowly {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.flySlowly {
  -webkit-animation-name: flySlowly;
  animation-name: flySlowly;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.jump {
  -webkit-animation-name: jump;
  animation-name: jump;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ese-out;
  animation-timing-function: ese-out;
}
.jumpSlowly {
  -webkit-animation-name: jump;
  animation-name: jump;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ese-out;
  animation-timing-function: ese-out;
}
@-webkit-keyframes bounceInUp {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}
@-webkit-keyframes rise {
  100% {
    height: 0px;
  }
}
.rise {
  -webkit-animation-name: rise;
  animation-name: rise;
}
@-webkit-keyframes shine {
  0% {
    opacity: .2;
  }
  50% {
    opacity: .8;
  }
  60% {
    opacity: .3;
  }
  65% {
    opacity: .5;
  }
  70% {
    opacity: .4;
  }
  65% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}
.shine {
  -webkit-animation-name: shine;
  animation-name: shine;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
@-webkit-keyframes fadeInUpSlowly {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUpSlowly {
  -webkit-animation-name: fadeInUpSlowly;
  animation-name: fadeInUpSlowly;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}
@-webkit-keyframes colorShine {
  0% {
    background-color: #a993d8;
  }
  50% {
    background-color: #957ccc;
  }
  100% {
    background-color: #a993d8;
  }
}
.colorShine {
  padding-left: 15px;
  padding-right: 15px;
  -webkit-animation-name: colorShine;
  animation-name: colorShine;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes roll {
  0% {
    margin-left: 20px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    margin-left: 10px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.roll {
  -webkit-animation-name: roll;
  animation-name: roll;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
body,
html {
  height: 100%;
  color: #fff;
}
.swiper-container {
  height: 100%;
}
.swiper-wrapper {
  height: 100%;
}
.page {
  width: 100%;
  height: 100%;
  position: relative;
}
.page img {
  display: block;
}
.page img:nth-of-type(1) {
  width: 100%;
}
.page img:nth-of-type(2) {
  height: 125px;
  margin: 10px 0 0 50px;
}
@media screen and (max-height: 470px) {
  .page img:nth-of-type(2) {
    height: 95px;
    margin: 10px 0 0 50px;
  }
}
.slide_up {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -10px;
  z-index: 20;
}
.slide_up i {
  display: inline-block;
  width: 20px;
  height: 15px;
  background: url("/images/activity/d11/up.png") no-repeat;
  background-size: 20px;
  -webkit-animation: arrowsUp 1s infinite linear;
}
@-webkit-keyframes arrowsUp {
  0% {
    -webkit-transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -5px);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
