#container div,.searchnav div,ul{zoom:1}
body,ul,ol,h2,h3,h4,p,form{margin:0;padding:0}
body{_height:100%;font:12px Arial,simsun,Helvetica,serif}
body,input{background-color:#f5f5f5}
a{text-decoration:none}
a:visited{}
a:hover{text-decoration:underline;color:#b10}
img{border:none; vertical-align:top}
ul,ol{list-style:none}
#container{width:1000px;margin:0 auto; position:relative; padding-bottom:50px}
.wx-topbpx,.wx-ph,.look-more a,.wx-box,.wx-ad,.rc-dy{box-shadow:0 0 1px #f1f2f1;margin: 1px;border: 1px solid #eaece9;}

.wx-topbpx{overflow:hidden;zoom:1;height:240px;padding-right: 20px;background: #fff;position: relative;}
.wx-news{padding:12px 0 0;overflow: hidden;}
.wx-news ul{padding-bottom:16px}
.wx-news li{padding:18px 0 7px}
.wx-news h3{font-size:24px;font-weight:normal;line-height:34px;padding-bottom:10px;margin-bottom: 10px;/*overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:280px;*/border-bottom: dotted #d2d2d2 1px;}
.wx-news h3 a{color:#333}
.wx-news h3 a:hover,.wx-ph a:hover,.wx-tabbox2 h4 a:hover,.sc_news .news-txt .tit a:hover{text-decoration:underline;color:#b10}
.wx-news p span a:hover{color:#666 !important; text-decoration:underline !important}
.wx-news p a{ color:#000; display:block}
.wx-news p a:hover{ color:#000 !important; text-decoration:none !important}
.wx-news p{font-size:13px;color:#000;line-height:24px;margin-bottom: 3px;/*overflow:hidden;white-space:nowrap;text-overflow:ellipsis;*/font-family: simsun;}
.wx-news p span,.wx-news p span a{color: #bbb;display: inline-block;}
.wx-hd{width:380px;float:left;height:245px;overflow:hidden;position:relative;margin-top:20px;margin-right:30px}
.tabcontant a{display:block;position:relative;color:#fff; background:url(/pcindex/images/main/img-hdc.png) 0 0 no-repeat; width:390px; height:240px}
.tabcontant a:hover{text-decoration:none !important; color:#666 !important}
.tabcontant img{vertical-align:top}
.tabcontant span{background:url(/pcindex/images/bg_index_hd.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bg_index_hd.png",sizingMethod=crop);position:absolute;width:270px;height:47px;line-height:47px;text-indent:12px;padding-right:110px;left:0;bottom:0;font-size:16px;color:#fff}
.tabcontant span p{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:270px}
.tab-list{position:absolute;right:19px;bottom:22px;z-index:20;height:10px;overflow: hidden}
.tab-list li{width:10px;height:10px;background:url(/pcindex/images/main/ico_spr.gif) no-repeat 2px -163px;float:left;margin-right:4px}
.tab-list li a{display:block;height:10px}
.tab-list li.on{background-position:-12px -163px;}
.wx-ph{overflow:hidden;padding:10px 20px;background:#fff}
.wx-ph h2{font-size:16px;color:#000;font-weight:normal;line-height:20px;border-bottom:1px solid #ececec;padding:0 0 7px 0}
.wx-ph ul{margin-top:3px;_padding-top:10px;width:119px; overflow:hidden;float: left;}
.wx-ph li{line-height:32px;height:32px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.wx-ph a{color:#333}
.wx-ph .top-num{width:16px;height:16px;text-align:center;line-height:16px;display:inline-block;vertical-align:top;position:relative;background:#c9c9c9;font-size:13px;color:#fff;margin-right:8px;margin-top:8px;*margin-top:0px;_top:-2px}
.wx-ph .top-num2{background:#53bc53}
.wx-ph a:hover .top-num{ text-decoration:none !important}
.wx-news2{overflow:hidden;zoom:1; padding-bottom:30px}
.wx-news2 .wx-news2-left{width:701px;float:left; position:relative; z-index:200}
.wx-news2 .wx-ad{margin-top: 10px;}
.wx-news2 .wx-ad img{vertical-align: top;}
.wx-tabbox ul{height:38px;background:#1eb848;border-bottom: 1px solid #229d44; position: relative}
.wx-tabbox ul{zoom:1;width:100%;}
.wx-tabbox li{float:left}
.wx-tabbox li.tab-more{position: absolute; left:634px; z-index:50;zoom:1}
.wx-tabbox a{padding:0 15px 0 14px;line-height:39px; height:39px;font-size:15px;color:#fff;display:inline-block;zoom:1;transition:background  0.2s linear 0px;-moz-transition:background 0.2s linear 2s;-webkit-transition:background 0.2s linear 0s;-o-transition:background 0.2s linear 0s;}
.wx-tabbox a{_display:inline}
.wx-tabbox li.tab-more a{ position:relative;_top:10px; padding:0 10px; display:block}

.wx-tabbox li.tab-more .gd-tab a:hover{ background:#f5f5f5 !important; text-decoration:none !important; color:#1eb848 !important}
.wx-tabbox li.tab-more ul a{_top:0}
.wx-tabbox a:hover{ text-decoration:none !important; color:#fff !important; background:#229d44}
.wx-tabbox .tab-more a:hover{background:#1eb848}
.wx-tabbox li.on{background:#229d44;}
.wx-tabbox li.on a{font-weight:bold;color:#fff; padding-left:13px}
.wx-tabbox li.on a:hover{ color:#fff !important}
.wx-tabbox2 ul{ *margin-bottom:-4px; position:relative}
.wx-tabbox2 li{zoom:1;padding:25px 20px 28px 0px;*padding:24px 20px 26px 0px; height:112px;border-bottom:1px solid #f2f2f2}
.wx-tabbox2 li:hover,.wx-tabbox2 li.on{ background:#fbfbfb;transition: background 0.2s linear 0px;
-moz-transition: background 0.2s linear 2s;
-webkit-transition: background 0.2s linear 0s;
-o-transition: background 0.2s linear 0s;}
.wx-tabbox2 li.on .ico-bg,.wx-tabbox2 li:hover .ico-bg{background:url(/pcindex/images/main/bg_mark2.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/main/bg_mark2.png",sizingMethod=crop)}
.wx-tabbox2 li:after{display:block;visibility:hidden;clear:both;height:0;content:'.'}
.wx-tabbox2 h4{font-size:19px;line-height:22px;overflow:hidden;white-space:nowrap;_white-space: normal ;text-overflow:ellipsis; font-weight:normal; position:relative;top:-2px; margin-bottom:6px}
.wx-tabbox2 h4 a{color:#000}
.wx-tabbox2 .time{font-size:13px;color:#999;line-height:20px;padding:2px 0 1px}
.wx-tabbox2 .time a{margin-right:20px;color:#999}
.wx-tabbox2 .time .rz{padding-right:20px;background: url(/pcindex/images/ico_r.png) 100% 0 no-repeat}
.wx-tabbox2 .wx-news-info{overflow:hidden;zoom:1; margin-top:6px; color:#666; line-height:22px; display:block}
.wx-tabbox2 .wx-news-info:hover{ color:#666 !important; text-decoration:none !important}
.wx-tabbox2 .wx-img-box{float:right; margin-left:10px; _display:inline}
.wx-tabbox2 .wx-img-box a{display:block;border:1px solid #ebebeb;width:110px;height:110px;overflow:hidden; position:relative; background:url(/pcindex/images/main/bg_err.jpg) 0 0 no-repeat}
.wx-tabbox2 .wx-img-box img{vertical-align:top}
.wx-tabbox2 .wx-img-box a span{ background:url(/pcindex/images/main/bg_sl.png) 0 0 no-repeat; font-size:12px; padding-left:22px; width:31px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/main/bg_sl.png",sizingMethod=crop) width:33px; line-height:18px; height:18px; text-align:center; color:#fff; position:absolute; bottom:0; right:0;}
.wx-tabbox2 .wx-news-info2{font-size:13px;color:#333;line-height:22px;zoom:1}
.look-more{font-size:13px;color:#999;line-height:39px;text-align:center;background:#f5f5f5;margin:10px auto 40px;}
.look-more a{display:block;color:#999;font-family: simsun; background:#fff; height:39px; position:relative}
.look-more a:hover{ color:#999 !important; border:1px solid #e1e2e1}
.look-more span{padding:0 25px;background:url(/pcindex/images/btn-lookmore.gif) 100% 12px no-repeat;display:inline-block}

.wx-hd-left,.wx-hd-right{ width:26px; height:60px; position:absolute; left:8px; top:92px; z-index:40;display: none;}
.wx-hd-right{ left:auto; right:5px}
.wx-hd-left a,.wx-hd-right a{ display:block; height:60px}
.wx-hd-left a{ background:url(/pcindex/images/bg_hd2_l.png) 2px 11px no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bg_hd2_l.png",sizingMethod=crop)}
.wx-hd-left a:hover{background:url(/pcindex/images/bg_hd2_lon.png) 2px 11px no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bg_hd2_lon.png",sizingMethod=crop)}
.wx-hd-right a{ background:url(/pcindex/images/bg_hd2_r.png) 2px 11px no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bg_hd2_r.png",sizingMethod=crop)}
.wx-hd-right a:hover{background:url(/pcindex/images/bg_hd2_ron.png) 3px 11px no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bg_hd2_ron.png",sizingMethod=crop)}
/*end foot search*/

.cr{height:26px;background:#f2f2f2;line-height:26px;text-align:center;clear:both;color:#9C9C9C;min-width:1001px;_width:expression((documentElement.clientWidth <1002) ? "1001px":"auto")}
.cr a{text-decoration:none;margin:0 2px;color:#0000cc}
.cr a:hover{text-decoration:underline}
.cr .g{color:#9C9C9C}
.back-top{position:fixed;_position:absolute;right:240px;bottom:130px;margin-left:508px;z-index:30;left:50%}
.back-top a{width: 40px;height: 40px;display: block;background: url(/pcindex/images/main/ico_spr.gif) no-repeat -120px 0px}
.back-top a:hover{ background:#e7e7e7 url(/pcindex/images/main/ico_spr.gif) no-repeat -120px -50px}
.wx-news h3,.wx-ph h2,.wx-tabbox a,.wx-tabbox2 h4 a,.look-more a,.tabcontant span p{ font-family:"微软雅黑"}

/* 1408 */
.tab-con-box{width: 5000px;position: relative; overflow:hidden;zoom:1}
.wx-tabbox2{ background:#fff}
.tab-con-box li{float: left;}
.tabcontant{float: left;width: 390px;margin-right: 20px;border-right: 1px solid #eaece9;overflow: hidden; position:relative}
.wx-box{margin-top: 18px; position:relative; z-index:30;zoom:1}
.wx-news2-right{float: right;width: 282px; overflow:hidden}

.ico-wx,.ico-more,.ico-more_o,.l-more{display:inline-block;background: url(/pcindex/images/main/ico_spr.gif) no-repeat; position:relative;*top:-4px;_top:-2px}
.ico-wx{background-position:0 -190px;width: 20px;height: 16px;margin-right: 5px;}
.ico-more{background-position:0 -120px;width:13px;height:10px; overflow:hidden}
.ico-more-o{background-position:0 -140px;width:13px;height:10px;}
.l-more{background-position:0 -99px;width:7px;height:9px;margin-left: 5px; overflow:hidden; _position:absolute; _left:50%; _margin-left:35px;_top:16px;}
.wx-tabbox a:hover .ico-more{transition: all .2s ease-in-out 0s;background-position: 0 -140px;}
.wx-topbpx .btn-l,.wx-topbpx .btn-r{ width:40px; height:40px; top:50%; margin:-20px 0 0 0; display:block; position:absolute; left:10px;background:url(/pcindex/images/main/bg_hd3_l.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/main/bg_hd3_l.png",sizingMethod=crop);transition:background  0.2s linear 0px;-moz-transition:background 0.2s linear 2s;-webkit-transition:background 0.2s linear 0s;-o-transition:background 0.2s linear 0s;}
.wx-topbpx .btn-r{ left:auto; right:10px; background:url(/pcindex/images/main/bg_hd3_r.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/main/bg_hd3_r.png",sizingMethod=crop)}
.wx-topbpx .btn-l:hover{background:url(/pcindex/images/main/bg_hd3_lon.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/main/bg_hd3_lon.png",sizingMethod=crop)}
.wx-topbpx .btn-r:hover{background:url(/pcindex/images/main/bg_hd3_ron.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/main/bg_hd3_ron.png",sizingMethod=crop)}

.pos-wxrw{ width:67px; z-index:60; float:left; margin:0px 16px 0 16px; height:120px; _display:inline;text-align:center; position:relative}
.pos-wxrw a{ color:#666; display:block}
.pos-wxrw a:hover{ color:#666 !important; text-decoration:none !important; cursor:pointer}
.pos-wxrw .ico-bg{ position:absolute; width:57px; height:57px; position:absolute; display:block; background:url(/pcindex/images/main/bg_mark.png) 0 0 no-repeat;left:5px;top:0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/main/bg_mark.png",sizingMethod=crop)}
.pos-wxrw .ico-r{width:16px;height:16px;background:url(/pcindex/images/ico_r.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/ico_r.png");position:absolute;top:40px;right:2px;z-index:20}
.pos-wxrw p{ color:#666; line-height:17px; font-size:13px; margin-bottom:5px;table-layout:fixed; word-break: break-all}
.pos-wxrw .tx{ width:67px; height:57px; overflow:hidden}
.pos-wxrw p img{ vertical-align:top}
.pos-wxrw .fxf{ position:relative}
.pos-wxrw .fxf a{ width:32px; padding-left:21px; line-height:18px; text-align:left; display: inline-block; color:#229d44; background:#e2f7e7 url(/pcindex/images/main/ico_spr.gif) 8px -247px no-repeat;}
.pos-wxrw .fxf a:hover{ text-decoration: none; color:#229d44 !important}
.pos-wxrw .pos-box{ position:absolute; background:url(/pcindex/images/main/bg_wxbox2.gif) 0 0 no-repeat; width:330px; height:256px; left:75px; top:-245px;text-align:left}
.pos-wxrw .pos-box img{margin: 47px 0 0 19px; }
.pos-wxrw .pos-box em{display: block;width: 34px;height: 34px;position: absolute;left: 71px;top: 101px}
.pos-wxrw .pos-box em img{margin:0}
.pos-wxrw .pos-box .t{background:url(/pcindex/images/img_ph.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/img_ph.png",sizingMethod=crop);width:152px;height:252px;display:block;position:absolute;right:3px;top:8px}
.pos-wxrw .pos-box .s{ background:url(/pcindex/images/main/ico_spr.gif) -57px -100px no-repeat; width:10px; height:8px; overflow:hidden; display:block; position:absolute; bottom:0;left:-9px}
.gd-tab{ position: absolute; overflow:hidden;zoom:1; width:333px;padding:10px 0; left:-272px;left:-272px\9;*left:-271px;top:38px; background:#fff; border:1px solid #53bc53; font-size:16px; color:#333}
.gd-tab a{color:#333}
.gd-tab a:hover{color:#333 !important; text-decoration:underline !important}
.gd-tab ul{  height:auto;zoom:1; overflow:hidden; width:333px;margin: 0px; background:none; border:0;}
.gd-tab ul li{width:84px; float:left; border-right:1px solid #f2f2f2; margin:0px -1px 0; line-height:36px; text-align:center; overflow:hidden; height:36px}
.gd-tab ul a{line-height:36px; padding:0; height:36px; font-size:15px}
.gd-tab ul li a:hover{ background:none !important}
.gd-tab .s{ width:11px; height:7px; display:block; background:url(/pcindex/images/main/ico_spr.gif) -58px -120px no-repeat; position:absolute; left:103px; top:-7px;}

.wx-tabbox2 .s-p{color: #bbb;line-height: 20px;margin-top:6px;}
.wx-tabbox2 .s-p a:hover{ color:#666 !important}
.wx-tabbox2 .s-p .fx{position: relative;margin-left: 20px;z-index: 40;display: inline-block;zoom:1}
.wx-tabbox2 .s-p .fx{ *display:inline}
.wx-tabbox2 .s-p .sc{position:relative;margin-left:20px; z-index:40;display: inline-block;}
.wx-tabbox2 .s-p .fx-a{display:inline-block;background:url(/pcindex/images/main/ico_fx.png) 0 3px no-repeat;_background:url(/pcindex/images/main/ico_fx.gif) 0 3px no-repeat; padding-left:20px;color:#999}
.wx-tabbox2 .s-p .fx-a:hover{ background:url(/pcindex/images/main/ico_fx.png) 0 -15px no-repeat;_background:url(/pcindex/images/main/ico_fx.gif) 0 -15px no-repeat; color:#666;transition: all .2s ease-in-out 0s;}
.wx-tabbox2 .s-p .on .sc-a,.wx-tabbox2 .s-p .on .sc-a:hover{background:url(/pcindex/images/main/ico_fx.png) 0 -71px no-repeat;_background:url(/pcindex/images/main/ico_fx.gif) 0 -71px no-repeat;}
.wx-tabbox2 .s-p .sc-a:hover{background:url(/pcindex/images/main/ico_fx.png) 0 -51px no-repeat;_background:url(/pcindex/images/main/ico_fx.gif) 0 -51px no-repeat;color:#666;transition: all .2s ease-in-out 0s;}
.wx-tabbox2 .s-p .sc-a:hover,.wx-tabbox2 .s-p .fx-a:hover{text-decoration:underline;}
.wx-tabbox2 .s-p .sc-a{display:inline-block;background:url(/pcindex/images/main/ico_fx.png) 0 -33px no-repeat;_background:url(/pcindex/images/main/ico_fx.gif) 0 -33px no-repeat;padding-left:20px; color:#999}
.wx-tabbox2 .s-p .fx .fx-pos{position:absolute;left:-4px;top:22px;width:108px;height:36px;background:#fff;border:1px solid #ebebeb;display:none;-moz-box-shadow:0px 2px 2px #eee; -webkit-box-shadow:0px 2px 2px #eee; box-shadow:0px 2px 2px #eee;}
.wx-tabbox2 .s-p .fx.on .fx-pos{display:block}
.wx-tabbox2 .s-p .fx .fx-pos p{color:#333;line-height:24px;font-weight:bold;padding-left:10px}
.wx-tabbox2 .s-p .fx .ico-sj,.wx-tabbox2 .s-p .sc .ico-sj{background:url(/pcindex/images/ico_sj.gif) 0 0 no-repeat;width:8px;height:5px;position:absolute;top:-5px;left:31px}
.wx-tabbox2 .s-p .fx .xl,.wx-tabbox2 .s-p .fx .qq,.wx-tabbox2 .s-p .fx .qq2{display:inline-block;width:36px; height:36px; float:left; overflow:hidden}
.wx-tabbox2 .s-p .fx .xl:hover,.wx-tabbox2 .s-p .fx .qq:hover,.wx-tabbox2 .s-p .fx .qq2:hover{ background:#f5f5f5}
.wx-tabbox2 .s-p .fx .qq span,.wx-tabbox2 .s-p .fx .xl span,.wx-tabbox2 .s-p .fx .qq2 span{ display:inline-block; width:16px; height:16px; margin:10px; cursor:pointer}
.wx-tabbox2 .s-p .fx .qq span{ background:url(/pcindex/images/main/ico_qq.gif) 0px 0px no-repeat}
.wx-tabbox2 .s-p .fx .xl span{ background:url(/pcindex/images/main/ico_xl.gif) 0px 0px no-repeat}
.wx-tabbox2 .s-p .fx .qq2 span{background:url(/pcindex/images/main/ico_qq2.gif) 0px 0px no-repeat}
.wx-tabbox2 .s-p .fx .xl:hover span{background:url(/pcindex/images/main/ico_xl.gif) 0px -21px no-repeat;transition: all .2s ease-in-out 0s}
.wx-tabbox2 .s-p .fx .qq:hover span{background:url(/pcindex/images/main/ico_qq.gif) 0px -21px no-repeat;transition: all .2s ease-in-out 0s}
.wx-tabbox2 .s-p .fx .qq2:hover span{background:url(/pcindex/images/main/ico_qq2.gif) 0px -21px no-repeat;transition: all .2s ease-in-out 0s}
.wx-tabbox2 .s-p .close2{background:url(/pcindex/images/btn_close.gif) 0 0 no-repeat;position:absolute;width:10px;height:10px;right:10px;top:10px}
.wx-tabbox2 .s-p .sc-pos{position:absolute;left:0px;top:22px;display:none;width:213px;height:87px;background:#fff;border:1px solid #ebebeb; z-index:20;-moz-box-shadow:0px 2px 2px #eee; -webkit-box-shadow:0px 2px 2px #eee; box-shadow:0px 2px 2px #eee;}
.wx-tabbox2 .s-p .sc-pos p{text-align:center;color:#333;line-height:24px;padding-top:9px}
.wx-tabbox2 .s-p .sc-btn{text-align:center;display:block}
.wx-tabbox2 .s-p .sc-btn a{width:54px;height:28px;line-height:28px;text-align:center;display:inline-block;border:1px solid #e2e2e2;background:#f9f9f9;color:#333;margin:11px 7px 0 8px}
.wx-tabbox2 .s-p .sc-btn .a2{background:#e1ffe1;border:1px solid #b7e8b7;color:#0b7d09}
.wx-tabbox2 .s-p .sc-btn .a2:hover{ border:1px solid #67d567; background:#e1ffe1; color:#0b7d09 !important; text-decoration:none !important}
.wx-tabbox2 .s-p .sc-btn a:hover{ border:1px solid #c1c1c1; color:#333 !important; text-decoration:none !important}

.wx-tabbox2 .s-p .sc-pos-v1{ width:252px; height:75px}
.wx-tabbox2 .s-p .sc-pos-v1 p{ background: url(/pcindex/images/main/ico-d.gif) 70px 18px no-repeat; padding-top:14px}
.wx-tabbox2 .s-p .sc-pos-v1 .p2{ color:#666; padding-top:2px; background:none}
.wx-tabbox2 .s-p .sc-pos-v1 .p2 a{ color:#666; text-decoration:underline}
.wx-tabbox2 .s-p .fx a{ position:relative}
.wx-tabbox2 .s-p .fx .fx-pos a:after{display:block;content:''; width:1px; height:16px; background:#f2f2f2; overflow:hidden; position:absolute; left:0;top:10px}
.wx-tabbox2 .s-p .fx .xl:after{ width:0}

.rc-dy{ background:#fff; border:1px solid #eaece9; padding:0px 20px 10px; margin-top:10px}
.re-box{ height:170px; position:relative; margin:8px 0}
.re-box div{position:absolute}
.re-box a{color:#fff; font-family:"微软雅黑"; line-height:20px; font-size:14px; display:block; text-align:center; height:100%}
.re-box a:hover{color:#fff !important;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;transition: all .2s ease-in-out 0s; text-decoration:none !important}
.re-box span{ display:inline-block}
.re-box .la{ background:#4fd8ea}
.re-box .red{ background:#ff8582}
.re-box .lv{ background:#45df95}
.re-box .f16{ font-size:16px; line-height:20px}

.sc_news{ width:278px; margin-left:-20px}
.sc_news li{zoom:1;  overflow:hidden; position:relative; height:82px}
.sc_news li a.zt{ display:block; position:relative;border:1px solid #ebebeb}
.sc_news li:hover{background: #fbfbfb;transition: background 0.2s linear 0px;
-moz-transition: background 0.2s linear 2s;
-webkit-transition: background 0.2s linear 0s;
-o-transition: background 0.2s linear 0s;}
.sc_news .news-img{ float:right; margin-right:20px; _display:inline; margin-top:10px; background:url(/pcindex/images/main/img-dyc.png) 0 0 no-repeat; width:82px; height:62px}
.sc_news .news-img img{ vertical-align:top; }
.sc_news .news-txt{ overflow:hidden;zoom:1; width:148px; top:0; left:20px; padding-top:10px; position: absolute; z-index:30}
.sc_news .news-txt .tit a{ line-height:22px; font-size:14px; color:#000;position:relative; z-index:20;top:-2px;}
.sc_news .news-txt .time{ font-size:12px; line-height:19px; margin-top:3px; color:#bbb; position:relative;}
.sc_news .news-txt .time a{ color:#bbb;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; width:85px; display:inline-block;position:relative; z-index:20}
.sc_news .news-txt .time a:hover{ color:#666 !important}
.sc_news .news-txt .tit{ padding-top:0}
.sc_news .news-txt  span{ position:absolute; right:0;top:0px;}

.wx-ph h2{ position:relative; border-bottom:2px solid #ececec; padding:6px 0 9px;*padding:6px 0 8px; zoom:1}
.wx-ph h2 span{ width:106px; height:2px; overflow:hidden; position:absolute; bottom:-2px; left:0; background:#53bc53}

.rc-dy h3{font-size: 16px;color: #000;font-weight: normal;line-height: 20px;font-family: "微软雅黑";padding: 15px 0 9px 0;*padding: 14px 0 9px 0;border-bottom: 2px solid #ececec; position:relative}
.rc-dy h3 span{width:65px; height:2px; overflow:hidden; position:absolute; top:44px; left:0; background:#53bc53}

.re-box table{ position:relative; left:-2px; margin-top:8px; margin-bottom:8px}
.wx-tabbox ul{position: relative;z-index:1000}
.wx-tabbox-v1{ position:fixed;filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9; zoom:1;top:0; width:697px;_position:absolute; z-index:1000;_top: expression(documentElement.scrollTop + -403 + "px")}
.wx-tabbox-v1 .gd-tab{ z-index:9999; *right:-6px;}
.wx-tabbox-v1{ *height:240px;height:240px\9}
.pos-wxrw .pos-box-v1{top:7px}
.pos-wxrw .pos-box-v1 .s{background: url(/pcindex/images/main/ico_spr.gif) -79px -99px no-repeat;bottom:248px;}

.wx-tabbox2 .s-p .sc-pos2{ top:-96px;-moz-box-shadow: 0px 0px 0px #fff;-webkit-box-shadow: 0px 0px 0px #fff;box-shadow: 0px 0px 0px #fff;}
.wx-tabbox2 .s-p .sc .sc-pos2 .ico-sj{background: url(/pcindex/images/ico_sj2.gif) 0 0 no-repeat; top:87px;}

.wx-tabbox2 .s-p .sc-pos2-v1{-moz-box-shadow: 0px 0px 0px #fff;-webkit-box-shadow: 0px 0px 0px #fff;box-shadow: 0px 0px 0px #fff; top:-81px}
.wx-tabbox2 .s-p .sc .sc-pos2-v1 .ico-sj{background: url(/pcindex/images/ico_sj2.gif) 0 0 no-repeat; top:75px;}
.wx-tabbox2 .s-p .fx,.wx-tabbox2 .s-p .sc{ float:right}

.wx-tabbox2 li .ico-hot,.wx-tabbox2 li .ico-jian{ width:29px; height:29px; display:block; position:absolute; top:-24px; left:-15px;}
.wx-tabbox2 li .ico-hot{ background:url(/pcindex/images/main/ico_hot.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/main/ico_hot.png",sizingMethod=crop)}
.wx-tabbox2 li .ico-jian{ background:url(/pcindex/images/main/ico_jian.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/main/ico_jian.png",sizingMethod=crop)}
.wx-tabbox2 .wx-img-box .i1{width:110px; height:110px; display:block; position:absolute; left:0; top:0; background:url(/pcindex/images/main/bg_img2.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/main/bg_img.png",sizingMethod=crop)}
.wx-tabbox2 .wx-img-box .i2{ z-index:20;transition: opacity 0.2s linear 0px;-moz-transition:opacity 0.2s linear 2s;-webkit-transition:opacity 0.2s linear 0s;-o-transition:opacity 0.2s linear 0s;width:110px; height:110px; display:block; position:absolute; left:0; top:0; background:#fff;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;-webkit-opacity:0; _display:none}
.wx-tabbox2 .wx-img-box a:hover .i2{opacity:0.3}
.pop-ie{ width:269px; height:128px; display:block; background:#fff; border:1px solid #cfcfcf; position:absolute; right:50px; top:35px; z-index:300;-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.pop-ie .p1{ font-size:12px; color:#333; line-height:21px; text-indent:24px; padding:16px 20px 0}
.pop-ie .p2{ text-align:right; padding-right:20px; padding-top:6px}
.pop-ie .p2 a{ width:68px; height:22px; line-height:22px; display:inline-block; text-align:center; background:#f9f9f9; border:1px solid #b8b8b8; font-size:12px; color:#333; text-decoration:none;-moz-border-radius:2px;-webkit-border-radius:2px; border-radius:2px;}
.pop-ie .p2 a:hover{ background: #f2f2f2; }
.pop-ie span{ position:absolute; background:url(/pcindex/images/main/ico_sanj2.gif) 0 0 no-repeat; width:9px; height:6px; display:block;top:-6px; right:22px;}
.sc_news li a.zt .i2{z-index:20;transition: opacity 0.2s linear 0px;-moz-transition:opacity 0.2s linear 2s;-webkit-transition:opacity 0.2s linear 0s;-o-transition:opacity 0.2s linear 0s;width:80px; height:80px; display:block; position:absolute; left:0; top:0; background:#fff;opacity:0;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;-webkit-opacity:0;_display:none}
.sc_news li a.zt:hover .i2{opacity:0.3}