#myCarousel.carousel.slide
  .carousel-inner
    .item.active
      =image_tag 'slide-01.jpg'
      .container
        .carousel-caption
          %h1 定做公司网站
          %p.leadCras 我们有非常丰富的经验来帮助您创办属于您公司的特色网站，不论是基于Linux还是Windows，不论是Java还是Rails，我们都可以做的很好！
          %a.btn.btn-large.btn-primary{:href => "/cases"} 看看案例
    .item
      =image_tag "slide-02.jpg"
      .container
        .carousel-caption
          %h1 公司合作
          %p.leadCras 利用我们的资源与贵公司的业务相结合，让我们达到双赢的效果，多一个朋友会多一条路的！
          %a.btn.btn-large.btn-primary{:href => "/friends"} 看看合作伙伴们
    .item
      =image_tag "slide-03.jpg"
      .container
        .carousel-caption
          %h1 加入我们
          %p.leadCras 觉得我们团队还不错？如果您跟我们一样是技术爱好者，又喜欢做一些非常有意思的项目，那就来聊聊吧！
          %a.btn.btn-large.btn-primary{:href => "/about"} 看看我们
  %a.left.carousel-control{:href => "#myCarousel", "data-slide" =>  "prev"} &lsaquo;
  %a.right.carousel-control{:href => "#myCarousel", "data-slide" => "next"} &rsaquo;


- content_for :javascript do 
  :javascript
    $(document).ready(
      function(){
        // carousel demo
        $('#myCarousel').carousel();
    })
