=simple_form_for(@post, url: admin_posts_path) do |f|
  .post-form
    .new-control-group
      =f.text_field :title
    .new-control-group
      =f.kindeditor :content, :window_onload => true, :simple_mode => true
    .new-control-group
      %button.btn.btn-large.btn-post{:type => 'submit'} 提交


